<html>
<head>
    <title>Listen</title>
    <link type="text/css" rel="stylesheet" href="assets/main.css">
    <link type="text/css" rel="stylesheet" href="assets/list.css">
    <link type="text/css" rel="stylesheet" href="assets/liststudents.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">
</head>

<body>
<% include partials/sidebar.ejs%>

<h1 id="heading">Listen</h1>
<div id="contentlist">
    <% courses.forEach(function (item, index) { %>
        <div class="subject">
            <h2 style="color: <%= item.subjectColor%>"><%=item.subjectName%></h2>
            <% utils[index].forEach(function(item){ %>
                <div class="util" style="border-left: solid 3px <%= item.color%>">
                    <p class="utilTitleNew"><%=item.utilName%></p>
                    <p class="utilDescriptionNew"><%=item.utilDescription%></p>
                    <div class="utilButtonNew" onmousedown="openPage('/utilFinished?id=<%=item.utilID%>')"><p><%=item.button%></p></div>
                </div>
            <% }); %>
        </div>
    <% });%>

</div>

</body>
</html>