<html>
    <body>
        <% include partials/navigation.ejs%>
        <h1 style="color: <%=course[0].subjectColor%>"><%=course[0].subjectName%></h1>
        <p>Lehrer: <%=course[0].teacherFirstName%> <%=course[0].teacherLastName%> (<%=course[0].teacherAcronym%>)</p>
        <p>Raum: <%=course[0].teacherRoom%> </p>

        <h3>Sachen die man halt braucht</h3>

        <% utilites.forEach(function(item) {%>
            <h5><%=item.utilName%></h5>
            <p><%=item.utilDescription%></p>

        <% });%>
    </body>
</html>