<html>
<head>
    <link type="text/css" rel="stylesheet" href="assets/main.css">
    <link type="text/css" rel="stylesheet" href="assets/list.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">
</head>

<body>
<% include partials/sidebarteacher.ejs%>

<h1 id="heading">Listen</h1>
<div id="contentlists">

    <% courses.forEach(function (item, index) { %>
        <div class="subjectCard">
            <h1 style="color: <%= item.subjectColor%>"><%=item.subjectName%> <%= item.courseYear%></h1>
            <% utils[index].forEach(function(item){ %>
            <p class="utilTitle"><%=item.utilName%></p>
            <p class="utilDescription"><%=item.utilDescription%></p>
            <% }); %>

            <form action="/liststeacher?id=<%= item.courseID%>" method="post" name="new" class="newItem">
                <p class="description" >Titel</p><input type="text" name="name"> <br>
                <p class="description" >Beschreibung</p><input type="text" name="description"> <br>
                <input class="submitButton" type="submit">
            </form>
        </div>
    <% });%>

</div>
</body>
</html>